{% extends "cosmic_base.html" %}
{% load widget_tweaks %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            {% if ship_form.errors %}
            <div class="alert alert-danger">
                <strong>Error(s) occurred:</strong>
                <ul>
                    {% for field, errors in ship_form.errors.items %}
                    {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form method="post" action="{% url 'create_shipping' %}" id="form2">
                {% csrf_token %}
                
                

                <div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Invoice Date <span style="color: rgb(187, 17, 17);">*</span></label>
                            <div class="col-sm-8">
                                <input type="date" name="invoice_date" value="{{form.instance.date}}" class="form-control datetimepicker-input"
                                    data-target="#datepicker1" />
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label col-sm-4">Bank Name </label>
                            <div class="col-sm-8">
                                <input type="text" list="the_orders" class="form-control" name="bank_name" value="{{form.instance.bank_name.customer_name}}">
                                <datalist id="the_orders">
                                    {% for customer in customers %}
                                    <option value="{{customer.customer_name}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
    
                        </div> -->
                    </div>
                    <div class="col-sm-8"></div>
               
                </div>

                <div class="col-sm-6">
                    <span class="form-group">
                        <label class="control-label col-sm-4"> Country of Origin<span style="color: rgb(187, 17, 17);">*</span></label>
                        <div class="col-sm-8">

                            <input type="text" class="form-control" name="country_of_origin" value="{{form.instance.order_no}}">
                        </div>
                    </span>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Final Destination<span style="color: rgb(187, 17, 17);">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="final_destination" value="{{form.instance.customer_name.customer_name}}">
                            
                        </div>

                    </div>


                </div>

                <div>
                    <div class="col-sm-5">
                        <span class="form-group">
                            <label class="control-label col-sm-4"> Port of Loading<span style="color: rgb(187, 17, 17);">*</span></label>
                            <div class="col-sm-8">
    
                                <input type="text" class="form-control" name="port_of_loading" >
                            </div>
                        </span>
                        <div class="form-group">
                            <label class="control-label col-sm-5">Port of Discharge<span style="color: rgb(187, 17, 17);">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="port_of_discharge" value="">
                                
                            </div>
    
                        </div>
                    </div>
                    <div class="col-sm-8"></div>
               
                </div>
                <div class="col-sm-6">
                    <span class="form-group">
                        <label class="control-label col-sm-7">Waybill Number</label>
                        <div class="col-sm-8">

                            <input type="text" class="form-control" name="truck_waybill_no" >
                        </div>
                    </span>

                    <div class="form-group">
                        <label class="control-label col-sm-7">Customer Order Number<span style="color: rgb(187, 17, 17);">*</span></label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control" name="customer_no" value="{{form.instance.customer_name.customer_name}}">
                            
                        </div>

                    </div>


                </div>

                <div>
                    <div class="col-sm-5">
                        <span class="form-group">
                            <label class="control-label col-sm-7">Container Number</label>
                            <div class="col-sm-8">
    
                                <input type="text" class="form-control" name="container_no" >
                            </div>
                        </span>
                       
                    </div>
                    <div class="col-sm-8"></div>
               
                </div>
               
            </form>

            
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <span style="margin: 10px;" class="col-sm-3"></span>
            <button id="submits" class="col-sm-2 btn-lg " 
            style="background-image:url('../static/back1.PNG');color: aliceblue; margin-left: 100px;font-size: 24px; height: 62px; font-weight: bolder;">
                Submit
            </button>
            <span style="margin: 10px;"></span>
            <!-- <a href="" class="btn btn-default" style="font-size: large; margin-top: 5px;">Cancel</a> -->
        </div>
    </div>
</div>


{% endblock %}